/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.countries {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2rem;
}
.country {
  padding: 10px;
}
.pages,
.site-header {
  display: none;
}
