/* Add your CSS code below */
.link {
  color: rgb(230, 15, 15);
  text-decoration: none;
  font-weight: bold;
}
p {
  line-height: 40px;
}
.message--old {
  opacity: 0.5;
}
.message--unread {
  border-left-style: solid;
  border-color: blue;
}
.message__time {
  font-size: 0.9rem;
}
