/* Add your own CSS code below */

footer span {
  color: #c85308;
}
@media screen and (min-width: 992px) {
  .hero__title {
    display: flex;
    flex-direction: row;
    font-size: 3.5em;
    min-width: 992px;
  }
}
.main-nav__list-item:first-child {
  margin-left: 0px;
}

.main-nav__list-item {
  margin-left: 20px;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .views {
    display: flex;
    flex-direction: row;
  }
  .view-list__item {
    margin: 0px 10px 0px 10px;
  }
  .views__all:last-child {
    margin-left: auto;
  }
}
fieldset {
  display: flex;
  flex-direction: column;
  line-height: 35px;
}

.main-article p {
  text-align: justify;
  line-height: 30px;
}
.main-article {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
